*{
    padding: 0;
    margin: 0;
    
    

}
body{
    background: url(./tigris.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
html{
    scroll-behavior: smooth;
}
nav ul li{
    list-style: none;
    display: inline-block;
   }
   nav ul li a{
       text-decoration: none;
       color:greenyellow;
       margin-left: 60px;
       font-size: 15px;
       font-weight:600;
       
       border-bottom: 2px solid transparent;
       transition: .4s;
   
   }
   nav ul li:not(:last-child) a:hover,
   nav ul li:not(:last-child) a:focus{
       border-bottom: 2px solid green;
   }
   nav ul li.active a{
       border-bottom: 2px solid greenyellow;
   }
   nav ul li.btn a{
       background:transparent;
       color:green;
       border:1px solid #e9a719;
       padding:9px 20px;
       border-radius: 30px;
       line-height: 1.4;
       font-size:14px;
       font-weight:500;
       margin-left: 150px;
   }
   nav ul li.btn:hover a{
       border: 1px solid green;
       color:black;
       background: greenyellow;
       transition:.4s;
   }




.menu{
    width: 100%;
    padding: 70px 0;
}
.menu h1{
    font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
p{
   font-family:Arial, Helvetica, sans-serif;
   color: rgb(0, 3, 2);
}

.menu h1 span{
    color: #fac031;
    margin-left: 15px;
    font-family: mv boli;
}
.menu h1 span::after{
    content: '';
    width: 100%;
    height: 2px;
    background: #fac031;
    display: block;
    position: relative;
    bottom: 15px;
}

.menu .menu_box{
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
}

.menu .menu_box .menu_card{
    width: 325px;
    height: 480px;
    padding-top: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.menu .menu_box .menu_card .menu_image{
    width: 300px;
    height: 245px;
    margin: 0 auto;
    overflow: hidden;
}
.menu .menu_box .menu_card .menu_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.3s;
}

.menu .menu_box .menu_card .menu_image:hover img{
    transform: scale(1.1);
}

.menu .menu_box .menu_card .small_card{
    width: 45px;
    height: 45px;
    float: right;
    position: relative;
    top: -240px;
    right: -8px;
    opacity: 0;
    border-radius: 7px;
    transition: 0.3s;
}

.menu .menu_box .menu_card:hover .small_card{
    position: relative;
    top: -240px;
    right: 20px;
    opacity: 1;
}

.menu .menu_box .menu_card .small_card i{
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 50px;
    color: black;
    cursor: pointer;
    text-shadow: 0 0 6px black;
    transition: 0.2s;
}

.menu .menu_box .menu_card .small_card i:hover{
    color: #fac031;
}

.menu .menu_box .menu_card .menu_info h2{
    width: 60%;
    text-align: center;
    margin: 10px auto 10px auto;
    font-size: 25px;
    color: #fac031;
}

.menu .menu_box .menu_card .menu_info p{
    text-align: center;
    margin-top: 8px;
    line-height: 21px;
}

.menu .menu_box .menu_card .menu_info h3{
    text-align: center;
    margin-top: 10px;
}

.menu .menu_box .menu_card .menu_info .menu_icon{
    color: #fac031;
    text-align: center;
    margin: 10px 0 10px 0;
}

.menu .menu_box .menu_card .menu_info .menu_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    background: black;
    padding: 8px 10px;
    margin: 0 80px;
    transition: 0.3s;
}



/*gallary*/

.gallary{
    width: 100%;
    /* height: 80%; */
    padding: 70px 0;
}

.gallary h1{
    font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallary h1 span{
    margin-left: 15px;
    color: #fac031;
    font-family: mv boli;
}

.gallary h1 span::after{
    content: '';
    width: 100%;
    height: 2px;
    background: #fac031;
    display: block;
    position: relative;
    bottom: 15px;
}
.gallary .gallary_image_box{
    width: 95%;
    margin: 10px auto;
    display: grid;
     grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.gallary .gallary_image_box .gallary_image{
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
}

.gallary .gallary_image_box .gallary_image img{
    width: 100%;
    transition: .3s;
}

.gallary .gallary_image_box .gallary_image:hover img{
    opacity: 0.4;
}

.gallary .gallary_image_box .gallary_image h3{
    position: absolute;
    font-size: 35px;
    margin-bottom: 130px;
    color: #fac031;
    font-family: mv boli;
    z-index: 5;
    opacity: 0;
    transition: 0.3s;
}

.gallary .gallary_image_box .gallary_image:hover h3{
    opacity: 1;
}

.gallary .gallary_image_box .gallary_image p{
    position: absolute;
    width: 400px;
    margin-top: 30px;
    text-align: center;
    color: white;
    line-height: 22px;
    opacity: 0;
    z-index: 5;
    transition: 0.3;
}

.gallary .gallary_image_box .gallary_image:hover p{
    opacity: 1;
}

.gallary .gallary_image_box .gallary_image .gallary_btn{
    position: absolute;
    margin-top: 180px;
    color: black;
    background: #fac031;
    padding: 7px 25px;
    text-decoration: none;
    opacity: 0;
    transform: translateY(45px);
    z-index: 5;
    transition: 0.3s;
}

.gallary .gallary_image_box .gallary_image:hover .gallary_btn{
    opacity: 1;
    transform:  translateY(0);
}
