*{
    padding: 0;
    margin: 0;
}
body{
    background: url(./tigris.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
h1{
    font-size:100px;
    line-height: 1;
    color:#fac301;
    margin: 0px 0px 45px;
    font-family:Arial, Helvetica, sans-serif;
    padding: 20px;
    
}
nav ul li{
    list-style: none;
    display: inline-block;
   }
   nav ul li a{
       text-decoration: none;
       color:#fac301;
       margin-left: 60px;
       font-size: 15px;
       font-weight:600;
       
       border-bottom: 2px solid transparent;
       transition: .4s;
   
   }
   nav ul li:not(:last-child) a:hover,
   nav ul li:not(:last-child) a:focus{
       border-bottom: 2px solid #fac301;
   }
   nav ul li.active a{
       border-bottom: 2px solid #fac301;
   }
   nav ul li.btn a{
       background:transparent;
       color:#fac301;
       border:1px solid #e9a719;
       padding:9px 20px;
       border-radius: 30px;
       line-height: 1.4;
       font-size:14px;
       font-weight:500;
       margin-left: 150px;
   }
   nav ul li.btn:hover a{
       border: 1px solid #fac301;
       color:black;
       background: #fac301;
       transition:.4s;
   }