*{
    padding: 0;
    margin: 0;
    font-family: cursive;
    
}
body{
    height: 100vh;
    width: 100%;
    background: #000;
    justify-content:  center;
    align-items: center;
    text-align: center;
    display: flex;
    color:rgb(13, 183, 226);
    flex-direction:column;
    background: url(./tigris.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
nav ul li{
    list-style: none;
    display: inline-block;
   }
   nav ul li a{
       text-decoration: none;
       color:greenyellow;
       margin-left: 60px;
       font-size: 15px;
       font-weight:600;
       
       border-bottom: 2px solid transparent;
       transition: .4s;
   
   }
   nav ul li:not(:last-child) a:hover,
   nav ul li:not(:last-child) a:focus{
       border-bottom: 2px solid green;
   }
   nav ul li.active a{
       border-bottom: 2px solid greenyellow;
   }
   nav ul li.btn a{
       background:transparent;
       color:green;
       border:1px solid #e9a719;
       padding:9px 20px;
       border-radius: 30px;
       line-height: 1.4;
       font-size:14px;
       font-weight:500;
       margin-left: 150px;
   }
   nav ul li.btn:hover a{
       border: 1px solid green;
       color:black;
       background: greenyellow;
       transition:.4s;
   }
.box{
width: 400px;
border: 2px solid red;
border-top-left-radius: 35px;
border-bottom-right-radius: 35px;
box-shadow:10px 10px 20px red;
}
.box input{
    width:200px;
    height: 20px;
    margin:10px;
    text-align: center;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 4px solid greenyellow;
    color:greenyellow;
    background:transparent;
    outline: none;
}
.box input::placeholder{
    color:red;
}
.btn{
    width:200px;
    height:29px;
    outline:none;
    background: transparent;
    color:white;
    cursor: pointer;
    border-radius:10px;
    border: 1px solid red;
}
.btn:hover{
 background: aqua;
 outline:none;
}
a{
    color:red;
    text-decoration: none;

}
a:hover{
    color:aqua;
}